*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: black;
    height: 100%;
    gap: 2rem;
    padding: 5rem;
    display: grid;


    /* grid-template-columns: repeat(4,1fr ); */
    /* grid-template-columns: minmax(100px,200px) minmax(100px,200px) minmax(100px,200px) minmax(100px,200px); */



    /* grid-template-columns: repeat(auto-fill ,minmax(100px,200px)); */
    /*  here we can also use auto fit 
    auto-fit: Removes empty spaces, and items stretch to fill the available space.
    auto-fill: Keeps empty spaces, even if there are no items to fill them.
    Think:
    auto-fit = "Fit items and stretch."
    auto-fill = "Fill with gaps."
 */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    /* align-items: center;
    justify-items: center; */

    place-items: center ;
    
}
.box{
    background-color: green;
    height: 100px;
    width: 100px;
    font-size: 2rem;
}