* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    padding: 5rem;
    background-color: gray;
    display: grid;
   
    gap: 2rem;
}
.box{
    background-color: green;
    font-size: 3rem;
}
.box4,.box8{
    background-color: yellow;
}
.box3 ,.box7,.box5{
    background-color: red;
    
}

@media(min-width:600px)
{
    .container{
        grid-template-columns:  repeat(4,1fr);
        grid-template-rows:  repeat(3,1fr);
    }
    .box1{
        grid-row: 1/4;
    }
    .box2{
       grid-column: 2/4;
    }
    .box6{
        grid-row:2/4;
        grid-column: 4/5;
    }
    

}


