* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container {
    height: 100%;
    padding: 5rem;
    background-color: gray;
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows:  repeat(3,1fr);
    gap: 2rem;
    grid-template-areas:
    "box1 box2 box2 box3"
    "box1 box4 box5 box6"
    "box1 box7 box8 box6";
}

.box {
    background-color: green;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    grid-area: box1;
    background-color: red;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
    background-color: yellow;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
    background-color: yellow;
}