body{
    padding: 0;
    margin: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.root{
    background-color:white ;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
input{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
button{
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
#Result{
    font-size: 30px;
}