h1{
    
    border-width: 20px;
    /* border-width:20px 30px when we take output like this 
    then 20px (first) is given to top and bootom and 30px(second)
    we given to right -and left  */
    border-width: 20px 50px;
    border-color: black;
    border-style:solid;
    padding: 10px;
    width: 300px;
    height: 200px;;

}
h2{
    /*  we can change individual color,padding,border-size,width  
      border-style and mush more in any specific side  */


    width: 200px;
    height: 300px;
    border-style:solid;
    border-left-width: 20px;
    border-left-color:red;
    border-right-style:groove;
    border-right-width: 50px;
    border-right-color:blue;
    border-radius: 20px;
    /* border-radius is use to curve at corner  */
    padding-left:50px;
}