body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
/* .root{
    display: ;
} */
button{
    height: 100px;
    width: 150px;
    border: 5px  solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
 }
 #red{
    background-color: red;
 }
 #green{
    background-color: green;
 }
 #blue{
    background-color: blue;
 }
 #orange{
    background-color:orange;
 }

 #purple{
    background-color: purple;
 }