* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 136, 136);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.Container {
    /* display: flex; */
    /* justify-content: center; */
    height: 20vw;
    width: 50vw;
    background-color: rgb(19, 5, 5);
    color: rgb(210, 136, 136);
    border-radius: 1rem;
    margin-top: 350px;
    box-shadow: 1;

}

.heading {
    font-size: 2.5rem;
    margin-left: 8rem;
    padding-top: 1rem;
    font-weight: bolder;

}

.Quote_container {
    height: 10vw;
    width: 35vw;
    background-color: wheat;
    margin-left: 7.2rem;
    /* padding-left-color :red; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-left: 0.4rem solid red;
}

.para {
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: bold;
    color: black;
}
button{
    background-color:red;
    color: black;
    padding:9px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 340px;
    margin-top: 20px;


}