body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial,  sans-serif;
    animation: grow 5zs linear ;
    opacity: 1;
    overflow: hidden;
    font-size: 20px;
    text-align: center; 
    background-color: blue;
    cursor:pointer;
}
/* 
@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
} */