*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
  }
.container{
   background-color: black;
   height: 100%;
   padding: 5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.box{
    background-color: greenyellow;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: spin;
    animation-duration:3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
}
@keyframes spin{
    from{
        transform: rotate(0deg) translate(400px);
    }
    to{
       transform: rotate(360deg) translate(400px);
    }
}
