*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
   height: 100%;
    background-color: gray;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap:2rem;
   padding: 5rem;
}
.box{
  background-color:red ;
  font-size: 2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

/* rotate */


/* rotate in x direction */
.box1:hover{
    transform: rotatex(90deg);
}

/* Rotate along Y direction */
.box2:hover{
    transform: rotatey(180deg);
}

/* Rotate along Z direction */
.box3:hover{
    transform: rotatez(90deg);
}

/* translate */
.box4:hover{
    transform: translatex(200px)
}
.box5:hover{
    transform: translatey(200px);
}

.box6:hover{
    transform:  perspective(300px) translatez(300px);
}
.box7:hover{
    transform: scaleX(2);
}
.box8:hover{
    transform: scaleY(2);
}
.box9:hover{
    transform: scaleZ(113) rotatey(90deg);
}


