*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

/* header{
} */

.head{
 
  position: relative;
  top: 5px;
  bottom: 100px;
  
}


/* 1st row  */

.first_row {
  margin-bottom: 50px;
  position: relative;
}

.row1 {
  display: inline-block;
}

.logo {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 30px;
  font-weight: bold;
  position:absolute;
  left: 15px;
  top: 20px;
  cursor: pointer;
  margin-right: 40px;
  
}

.location_dish {
    background-color: white;
    border: 5px solid white;
    border-radius: 10PX;
    position: relative;
    left: 240px;
    top: 15px;
    
}

.input_location{
    
   height: 30px;
   width: 300px;
}
.input_dish{
    height: 40px;
    width: 300px;
}
.dish{
   margin-left:20px;;
}
.log_sign{
    position: relative;
    left: 430px;
}
.log_in{
    position: absolute;
    right: 100px;;
    top: -10px;
}
.login_button{
    background-color: rgb(243, 236, 236);
    color: rgb(105, 101, 101);
    font-size: 20px;
    cursor: pointer;
}
.login_button:hover{
    color: black;

}
.sign_up{
    position: absolute;
    top: -10px;
    
}
.signup_button{
    background-color: rgb(243, 236, 236);
    color: rgb(105, 101, 101);
    font-size: 24px;  
    cursor: pointer;
}
.signup_button:hover{
    color: black;

}


/* 2nd row */
.second_row {
    position: relative;
    left: 20px;
    
}

.row2 {
  display: inline-block;
  font-size: 15px;
  color: rgb(105, 101, 101);
  cursor: pointer;
}
.row2:hover{
    color: red;
}



/* 3th row  */

.third_row{
  position:sticky; 
  top:0px;
  left:30px;
  background-color:  rgb(246, 243, 243);
  z-index:2;
  height:90px;
}
.row3 {
  
  font-size: 40px;
  margin-right: 50px;
  display: inline-block;
  cursor: pointer;
}
.dining_out{
  position: relative;
  cursor: pointer;

}
.diningout-div{
  background-color: rgb(202, 206, 206);
  height: 60px;
  width: 60px;
  border-radius:30px;
  position: absolute;

  
}
.diningout-img{
  height: 30px;
  position: absolute;
  left: 14px;
  top: 13px;
}
.diningout-word{
  font-size: 30px;
  position: absolute;
  left: 80px;
  top: 27px;
}

.delivery{
  position: relative;
  left: 200px;
}
.delivery-div{
  position: absolute;
  background-color: rgb(202, 206, 206);
  height: 60px;
  width: 60px;
  border-radius:30px;
}
.delivery-img{
  height: 30px;
  position: absolute;
  left: 14px;
  top: 13px;

}
.delivery-word{
  font-size: 30px;
  position: absolute;
  left: 80px;
  top: 15px;
  column-rule-color: brown;
}
.nightlife{
  position: relative;
  left: 360px;


}
.nightlife-div{
  position: absolute;
  background-color: rgb(202, 206, 206);
  height: 60px;
  width: 60px;
  border-radius:30px;

}
.nightlife-img{
  height: 30px;
  position: absolute;
  left: 14px;
  top: 13px;


}
.nightlife-word{
  font-size: 30px;
  position: absolute;
  left: 80px;
  top: 13px;
  column-rule-color: brown;

}

/* 4th row  */
.fourth_row{
  position: relative;
  z-index: 1;
  height: 500px;
  background-color: rgb(246, 237, 237);
 
  
}
.Collection{
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 20px;
}
.para{
  position: relative;
  left: 20px;
  top: 30px;
  bottom: 300px;
  margin-bottom: 50px;
}
.photo1{
  position: relative;

}
.pic1{
  
  height: 300px;
  width: 270px;
  border-radius: 10px;
}
.type{
position: absolute;
bottom: 50px;
left: 10PX;
color: rgb(196, 190, 190);
}
.places{
position: absolute;
left: 10px;
bottom: 30px;
color: rgb(196, 190, 190);
}
.para{
font-weight: bold;
}
.pic{
  display:inline-block;
  cursor: pointer;

}




                           



main{
  position: relative;
  top: 90px;
}

* {
  margin: 0;
  border: 0;
}

body {

  background-color: rgb(246, 243, 243);
  margin-left: 150px;
  margin-right: 150px;
}

.Card:hover {
  background-color: white;
  border-color: white;
}

.Card {
  color: black;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 20px;

  border: 10px;
  border-style: solid;
 
  border-color: rgb(246, 243, 243);
  margin-bottom: 40px;

  /* for above three line we can use one line 
    border: 10px solid rgb(243, 236, 236); */
}

.box {
  display: inline-block;
}

.Restaurant,.food,.location {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

.img {
  height: 250px;
  width: 350px;
  border-radius: 20px;
}

.image {
  position: relative;
}

.off {
  font-size: 30px;
  color: white;
  background-color: rgba(170, 13, 10, 0.8);
  position: absolute;
  bottom: 20px;
  left: 10px;
  padding: 5px;
}

.r_name {
  font-size: 20px;
  font-weight: bolder;

}

.rating {
  background-color: green;
  color: white;
  position: absolute;
  right: 5px;
  padding: 3px;
  border-radius: 8px;
}

.food {
  margin-left: 10px;
  margin-bottom: 10px;
}

.price {
  position: absolute;
  right: 5px;
}


.food,.place {
  font-size: 161qpx 611;
  color: rgb(188, 183, 183);
}
.distance {
    font-weight: bolder;
    position: absolute;
    right: 5px;

}