div{
    display:inline;
    background-color: aqua;
    height: 100px;
    width: 200px;
    margin:10px;
}
/* span{
    display: block;
    background-color: rebeccapurple;
    width: 100px;
    height: 500px;

} */
 /* inline-block  
 after using this in inline element inline element is behaves as block element we can chnage its 
 height and width as block element */
 span{
    display:inline-block;

    background-color:red;
    height: 100px;
    width: 200px;
    margin: 20px;
    padding: 5px;

 }


 span:hover
 {
    background-color:black;
    color: aqua;
 }