*
{
    margin: 0;
}
#green, #white, #orange {
    width: 32vw;
    height: 100vh;
    display:inline-block;
}

#green {
    background-color: green;
}
#white {
    background-color: white;
}
#orange {
    background-color: orange;
}