*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 400px;
    width: auto ;
    border: 5px solid black;
    text-align: center;
}
h1{
    margin-top: -30px;
    margin-bottom: 30px;
}
label , input{
    /* width: 100%;  */
    display: block;
    font-weight: bold;
    padding: 0.5rem;
}
input{
    border: 2px solid black;
}
button{
    padding: 0.5rem;
    color: white;
    background-color: black;
    margin-top: 1rem;
    /* margin-left: 2rem   ; */
    text-align: center
;
}