.container{
    background-color: rgb(106, 11, 11);
    height: 1000px;
    display: flex;
    flex-direction:row;
   
   flex-wrap: wrap;
   align-content:space-around;
    
}
.box{
    height:200px;
    width: 150px;
    border: 5px,solid,black;
    margin: 5px ;
    font-size: 40px;
    font-weight: bold;
    
}

.box1{
     background-color: white;
}

.box2{
    background-color:  aqua;
}

.box3{
    background-color: blue;
}

.box4{
    background-color:green;
    
}