*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
}
.container{
    display: grid;
    background-color: gray;
    height: 1000px;
    width: 1000px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
    padding: 5rem;
 
}
.box{
    background-color: red;
    border: 1rem solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
 align-items: center;

}
.box1{
    grid-row:1/4;
}
.box2 {
    grid-column: 2/4;
}
.box6{
    grid-row:2/4;
    grid-column: 4/5;
}
.box4{
    drid-column:2/4
}
.box1 ,.box2 ,.box6{
    background-color: green;
}
.box4 ,.box8 {
    background-color: yellow;
    
}

