*{
    margin:0;
    padding:0;
}

/* firsr-row */
.first{
    display: flex;
    background-color: rgb(70, 7, 7);
    /* height: 100px; */
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.first h1{
    color: white;
}

.left{
    font-size: 1.5rem;
    cursor: pointer;
    font-size: rem;
}
.right button{
    color: white;
    background-color: rgb(70, 7, 7);
    border:none;
    font-size: 1.5rem;
    margin: 0.8rem;
    cursor: pointer;
}



 /* second-row */
.second{
    display: flex;
    justify-content: center;
    background-color: rgb(152, 146, 146);
    padding: 1rem;

}
.input{
   margin-left: 2rem;
    width: 400px;
    max-width:60%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
}
.second >button{
    height: auto;
    width: 100px;
    background-color: red;
    color:white;
    font-size: 1REM;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-left:1.5rem;
    padding: 0.5rem;
   
}

/* Third row  */
.Third{
    display: flex;
    flex-direction:column;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-image: url(./background.png);
    height: 140px;
}
.Third > h1{
    color: white;
    background-color: black;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem;
} 
.Third button{
    height: 2.3em;
    width: 120px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 0.8rem;
}

/* fourth  */
.fourth{
    text-align: center;
    padding: 1rem;
}
.fourth h2{
    font-size: 3rem;
    font-weight: bold;
}


/* fifth */

.recommended h3{
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.movies{
    display: flex;
    margin-left: 2rem;
    overflow-x: scroll;
  


}
.card{
   text-align: center;
   border-radius:10px ;
   margin-left: 1rem;
   cursor: pointer;

}
.images{
    height: 400px;
    border-radius: 10px;
}
.card > h3{
    font-size:1.5rem;
}


/* sixth */
.bottom{
    margin-top: 2rem;
    text-align: center;
}
.bottom > img{
    max-width: 80%;
    border-radius: 10px;

}
/* for mobile  */
@media(max-width:650px)
{
    .first{
        flex-direction: column;
        align-items: center;
    }
   .right{
    display: flex;
    flex-direction: column;
    padding: 1rem;
   }
   .movies{
    
    flex-direction: column;
   }
   .recommended{
    text-align: center;
   }

}